<li [ngClass]="{
  'list-group': true,
  'list-group-item': getColor() === 'white',
  'list-group-item-success': getColor() === 'green',
  'list-group-item-danger': getColor() === 'red'
}">
  <div class="col-2"></div>
  <div class="col-10">
    <div class="row">
      <h3 class="col-2">{{ postTitle }}</h3>
      <div class="col-8"></div>
      <p class="col-2">{{ postDate | date: 'short' }}</p>
    </div>
    <p>{{ postContent }}</p>
    <div class='pb-3'>
      <button  class="btn btn-success" (click)="upLike()">Love it</button>
      <button class="btn btn-danger" (click)="downLike()">Don't love it</button>
    </div>
  </div>
</li>
